<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="/welcome/Sumit" class="navbar-brand">inventory-ui</a></div>
        <ul class="navbar-nav">
            <li><a *ngIf = "hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/Sumit" class="nav-link">Home</a></li>
            <li><a *ngIf = "hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/items" class="nav-link">Items</a></li>
            <li><a *ngIf = "hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/bulk-update-inventory" class="nav-link">Bulk Update</a></li>
            <li><a *ngIf = "hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/vendors" class="nav-link">Vendors</a></li>
            <li><a *ngIf = "hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/suppliers" class="nav-link">Suppliers</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li>
                <a *ngIf = "!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
            </li>
            <li>
                <a *ngIf = "hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
</header>